
<nav class="navbar navbar-dark bg-primary-custom">
  <div class="row p-2">
    <div class="col-sm-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <i class="fas fa-users">  Customer MANAGEMENT</i></a>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
      <nav class="nav">
        <!-- <a class="nav-link active" >Active</a>
        <a class="nav-link" >Link</a>
        <a class="nav-link" >Link</a>
        <a class="nav-link disabled" >Disabled</a> -->
      </nav>
    </div>
</nav>

