<div class="row">
        <div class="col-md-1">
            <i class="far fa-trash-alt fa-lg float-end p-2" (click)='onDeleteClick(index)'></i>
        </div>
        <div class="col-md-1">
            <i class="fas fa-edit fa-lg float-end p-2" (click)='onEditClick(index)'></i>
        </div> 
        <div class="col-md-8">
          <i class="fas fa-user-plus float-end p-2" (click)='onAddClick()' >  Add Customer</i>
        </div>     
</div>
<hr>
<h3>Customer Details</h3>
<div class="row">
    <div class="col-md-10">
        <table class="table table-success table-striped">
            <tbody>
                <tr>
                  <td>Name :</td>
                  <td>{{selectedCustomer.fname}} {{selectedCustomer.lname}}</td>
                </tr>
                <tr>
                  <td>Account No :</td>
                  <td>{{selectedCustomer.accountNum}}</td>
                </tr>
                <tr>
                  <td>Email :</td>
                  <td>{{selectedCustomer.email}}</td>
                </tr>
                <tr>
                  <td>Gender :</td>
                  <td>{{selectedCustomer.gender}}</td>
                </tr>
                <tr>
                  <td>State :</td>
                  <td>{{selectedCustomer.state}}</td>
                </tr>
                <!-- <tr>
                  <td>Country :</td>
                  <td>{{selectedCustomer.country}}</td>
                </tr> -->
                
            </tbody>
        </table>
    </div>
</div>
<hr>
{{selectedCustomer.email}}
