<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list-group">
            <a routerLink='/dashboard/customers bg-color-custom'>
                <li class="list-group-item"><i class="fas fa-users-cog"> Customer Management</i></li>
            </a>
        </ul>
    </div>
</div>

