
    
<li class="list-group-item l-item"  >
    <div class="row">
        <div class="col-md-6">{{customer.fname}}</div>
        <div class="col-md-6"><i class="fas fa-eye fa-lg float-end"  (click)='onViewClick(index)'></i></div>
    </div>    
</li>

