<h3>{{editMode ? 'Edit' : 'Add'}} Customer</h3>
<hr>
<div class="row">
    <div class="col-md-10 col-xs-9">
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="row mb-2">
                <div class="col">
                   <label for="fname" class="form-label">First Name</label>
                   <input type="text" formControlName="fname" class="form-control"  id="fname"  placeholder="" aria-label="First name">
                </div>
                <div class="col">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" id="lname" formControlName="lname" class="form-control"  placeholder="" aria-label="Last name">
                </div>
                <span *ngIf="(!customerForm.get('fname').valid && customerForm.get('fname').touched)">
                    <!-- <span *ngIf="customerForm.get('fname').errors['pattern']"> *Invalid first name..</span> -->
                    <span *ngIf="customerForm.get('fname').errors['required']"> *required..</span>
                </span><br>
                <span *ngIf="(!customerForm.get('lname').valid && customerForm.get('lname').touched)">
                    <span *ngIf="customerForm.get('lname').errors['required']"> *required last name..</span>
                    <!-- <span *ngIf="customerForm.get('lname').errors.pattern"> *Invalid last name..</span> -->
                </span>
            </div>
            <div class="mb-3">
                <label for="account" class="form-label">Account No</label>
                <input type="text" class="form-control" formControlName="accountNum" id="account">
                <span *ngIf="(!customerForm.get('accountNum').valid && customerForm.get('accountNum').touched)">
                    <span *ngIf="customerForm.get('accountNum').errors['required']"> *required..</span>
                </span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                <span *ngIf="(!customerForm.get('email').valid && customerForm.get('email').touched)">
                    <span *ngIf="customerForm.get('email').errors['email']"> *Invalid email..</span>
                    <span *ngIf="customerForm.get('email').errors['required']"> *required..</span>
                </span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
                <span *ngIf="(!customerForm.get('password').valid && customerForm.get('password').touched)">
                    <span *ngIf="customerForm.get('password').errors['required']"> *required..</span>
                </span>
            </div>
            <div class="row mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" value="male" checked id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Male
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" value="female" id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                          Female
                        </label>
                      </div>
                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="gender" value="other" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Others
                        </label>
                      </div>
                </div>
                <span *ngIf="(!customerForm.get('gender').valid && customerForm.get('gender').touched)">
                    <span *ngIf="customerForm.get('gender').errors['required']"> *required..</span>
                </span>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="state" class="form-label">State</label>
                    <select class="form-select" id="state" formControlName="state" aria-label="Default select example">
                        <option selected value="">Select state</option>
                        <option value="kerala">Kerala</option>
                        <option value="tamilnadu">TamilNadu</option>
                        <option value="karnataka">Karnataka</option>
                      </select>
                </div>
                <span *ngIf="(!customerForm.get('state').valid && customerForm.get('state').touched)">
                    <span *ngIf="customerForm.get('state').errors['required']"> *required..</span>
                </span>
            </div>

            <!-- <div class="row mb-3">
                <label for="country" class="form-label">Country</label>
                <div class="col-md-2">
                      <div class="form-check" *ngFor = "let country of country_list; let i=index">
                        <input class="form-check-input" type="checkbox" formControlName="{{country.name}}" value="{{country.name}}" checked={{country.isselected}} id="flexCheckChecked" >
                        <label class="form-check-label" for="flexCheckChecked">
                          {{country.name}}
                        </label>
                      </div>
                </div>
            </div> -->
            <button type="submit" [disabled]="!customerForm.valid" class="btn btn-primary">{{editMode ? 'Update' : 'Submit'}}</button>  &nbsp;
            <button  class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </form>
    </div>
</div>