<div class="row container-custom align-items-center justify-content-center text-center">
    <div class="col-md-12 pt-2">
        <h5>No customer selected</h5>
        <br>
        <!-- <span class="fa-stack fa-5x"> -->
            <!-- The icon that will wrap the number -->
            <!-- <span class="far fa-circle fa-stack-2x"></span> -->
            <!-- a strong element with the custom content, in this case a number -->
            <!-- <div class="fa-stack-1x">
                2 
            </div> -->
        <!-- </span> -->
        <div class="circle">
            <span class="text-data">
                <span class="number-data">
                    {{customerCount}}
                </span>
                <br> 
                Customers
            </span>
             
        </div>
        <br>
        <button type="submit" class="btn add-btn" (click)="onAddClick()">Add Customer</button>
    </div>
</div>