.container-custom{
    background-color: rgb(230, 230, 230);
    height: 50vh;
}

.circle {
    width: 200px;
    height: 200px;
    line-height: 30px;
    border-radius: 50%;
    border: 3px solid #55dddb;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background:transparent;
    margin: auto;
  }
  .number-data{
      font-size: 70px;
  }
  .text-data{
      position: relative;
      top: 4rem;
      color:#35bbb9;
  }

  h5{
      color:#ae9ebd;
  }

  .add-btn{
      background-color: #474791;
      color: white;
  }