<div class="container">
    <div class="row justify-content-center m-5 p-5">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert" *ngIf ="authError">
              {{authError}}
            </div>
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" ngModel required email>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group mb-2">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password" ngModel required minLength="6">
                </div>
                <!-- <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
