<div class="row">
    <div class="col-md-6 mt-5 ">
        <!-- <app-customer-list></app-customer-list> -->
        <router-outlet name="routerOutlet1"></router-outlet>
    </div>
    <div class="col-md-6 mt-5">
        <app-select-message *ngIf="loadedFeature ==='default'"></app-select-message>
        <app-customer-detail *ngIf="loadedFeature ==='view'"></app-customer-detail>
        <app-customer-form *ngIf="loadedFeature ==='edit'"></app-customer-form>
        <!-- <router-outlet name="routerOutlet2"></router-outlet> -->
    </div>
</div>
